.UserRegister {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.UserRegister h1 {
    text-align: center;
}

.UserRegister h3 {
    text-align: center;
    color: var(--color-grey);
}

.UserRegister form {
    min-width: 25rem;
    max-width: 36rem;
    width: 90%;
    height: 35rem;
    margin-left: 30%;
    box-sizing: border-box;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    border-radius: .7rem;
    background-color: #182031cc;
}

.UserRegister form input{

}

@media (max-width: 1000px) {
    .UserRegister form {
        margin: 0 auto;
    }
}
